@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

*, *::before, *::after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
html, body {
	background-color: #9459f9;
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
	letter-spacing: .1rem;
}
h1 {
	font-size: 3rem;
}
p {
	font-size: 1.5rem;
}
a {
	font-size: 1rem;
}
img {
	width: 100%;
	height: auto;
}
.header, .main, .footer {
	margin: 0 auto;
	width: 1200px;
}

/* header style */
.header {
	background: url(../img/header_bg.png) right center no-repeat, #7034db;
	background-size: auto 90%;
	color: #ccc;
	margin-top: 5rem;
}
.header_container {
	padding: 0 2rem 2rem;
	text-align: justify;
}
.header_logo a {
	display: block;
	max-width: 25rem;
}
.header_logo img {
	margin: 1rem 0;
	width: 100%;
	height: auto;
}
.header_description h1 {
	font-weight: 700;
	padding: .7rem 0;
	text-align: center;
}
.header_description p {
	text-align: center;
}

/* main style */
.main {
	background-color: #ffffff;
}
.main_container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.hosting_element {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 2rem;
	width: 100%;
}
.hosting_element:nth-child(even) {
	background-color: #f9f9ff;
}
.hosting_logo {
	width: 30%;
}
.hosting_logo img {
	padding: 1rem;
}
.hosting_info {
	width: 60%;
}
.hosting_info ul li {
	font-size: 1.4rem;
	padding: .2rem 0;
}
.hosting_info ul li span {
	font-weight: 700;
}
.hosting_button {
	width: 10%;
}
.hosting_button a {
	background-image: -webkit-gradient(linear, left top, right top, from(#f58e9a), to(#fbe44c));
	background-image: -webkit-linear-gradient(left, #f58e9a 0%, #fbe44c 100%);
	background-image: -o-linear-gradient(left, #f58e9a 0%, #fbe44c 100%);
	background-image: linear-gradient(90deg, #f58e9a 0%, #fbe44c 100%);
	border-radius: 2rem;
	color: #ffffff;
	display: block;
	font-weight: 900;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 100%;
}

/* privacy_content style */
.privacy_content {
	padding: 2rem;
	max-height: 100vh;
}

/* footer style */
.footer {
	background-color: #333333;
	margin-bottom: 5rem;
}
.footer_container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.footer_logo {
	padding: 2rem;
}
.footer_logo img {
	max-width: 20rem;
}
.footer_links a {
	color: #e1e1e1;
	margin: 1rem;
	text-decoration: none;
	text-transform: uppercase;
}
.footer_copyright {
	color: #a0a0a0;
	padding: 2rem;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
	html, body {
		font-size: 11px;
	}
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	html, body {
		font-size: 10px;
	}
	.header, .main, .footer {
		width: 100%;
	}

	/* header style */
	.header {
		margin-top: 0rem;
	}

	/* footer style */
	.footer {
		margin-bottom: 0rem;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	html, body {
		font-size: 9px;
	}
	.header, .main, .footer {
		width: 100%;
	}

	/* header style */
	.header {
		margin-top: 0rem;
	}

	/* footer style */
	.footer {
		margin-bottom: 0rem;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	html, body {
		font-size: 8px;
	}
	.header, .main, .footer {
		width: 100%;
	}

	/* header style */
	.header {
		margin-top: 0rem;
	}	

	/* main style */
	.hosting_element {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
		width: 100%;
	}
	.hosting_logo {
		width: 50%;
	}
	.hosting_info {
		padding-bottom: 2rem;
		width: 100%;
	}
	.hosting_button {
		width: 40%;
	}

	/* footer style */
	.footer {
		margin-bottom: 0rem;
	}
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
	html, body {
		font-size: 7px;
	}
	.header, .main, .footer {
		width: 100%;
	}

	/* header style */
	.header {
		margin-top: 0rem;
	}
	.header_logo {
		text-align: center;
	}

	/* main style */
	.hosting_element {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
		width: 100%;
	}
	.hosting_logo {
		width: 70%;
	}
	.hosting_info {
		padding-bottom: 2rem;
		width: 100%;
	}
	.hosting_button {
		width: 40%;
	}

	/* footer style */
	.footer {
		margin-bottom: 0rem;
	}
}